@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Search page</h1>
    <form method="get" name="SearchForm">
        <label>Name:</label><input type="text" name="NameSearch" >
        <input type="hidden" name="handler" value="SearchForm" >
        <button type="submit" />
    </form></div>
<div>
    <table name="users">@foreach (var user in Model.Users)
        {
            <tr><td>@user.Name</td></tr>
        }</table>
</div>